<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastro de Vacinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Nome: </ion-label>
    <ion-input type="text" formControlName="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Eficácia (%): </ion-label>
    <ion-input type="number" formControlName="eficacia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tecnologia: </ion-label>
    <ion-input type="text" formControlName="tecnologia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Quantidade de Doses: </ion-label>
    <ion-input type="number" formControlName="doses"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Intervalo (Dias): </ion-label>
    <ion-input type="number" formControlName="intervalo"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="salvar()" [disabled]="!form.valid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
